body{
	background: url(../img/pic01.jpg) no-repeat;
	background-size: cover;
	font-family: "微软雅黑";
}

a{
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 400px;
	margin-left: 200px;
	display: block;
}
